<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hibakezelő</title>
</head>
<body>
    <div class="container">
        <h2>Általános hiba!</h2>
        <p>Valami probléma van. Kérlek próbáld meg később.</p>
        <p th:text="${message}"></p>
        <a href="/" class="btn btn-primary">Bejelentkezés újra</a>
    </div>
</body>
</html>

