<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Nyitólap</title>
    </head>
    <body>
        <div class="container">
            <h2>Üdvözöljük a reptéri jegyértékesítési projektünkben</h2>
            <p>Ön sikeresen bejelentkezett!</p>
            <p>Az Ön JWT token -kódja : <span th:text="${token}"></span></p>
        </div>
    </body>
</html>
