<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés a reptéri jegyértékesítési mintaprojektbe</title>
</head>
    <body>
        <div class="container">
            <h2>Bejelentkezés</h2>
            <form th:action="@{/web/login}" method="post">
                <div class="form-group">
                    <label for="felhasznalonev">Felhasználónév:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="jelszo">Jelszó:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Bejelentkezés</button>
                </div>
            </form>
            <!--Ha a bejelentekztetés folyamata hibára futna:-->
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>            
        </div>
    </body>
</html>

